name: Publish (NPM)

on:
  release:
    types: [published]

jobs:

  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Node
      uses: actions/setup-node@v3
      with:
        node-version: '18.x'
        registry-url: 'https://registry.npmjs.org'
        always-auth: true
    - uses: stellar/binaries@v23
      with:
        name: wasm-pack
        version: 0.13.0
    - uses: stellar/binaries@v23
      with:
        name: wasm-bindgen-cli
        version: 0.2.92
    - run: make build
    - run: wasm-pack publish --access=public --target web
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
